.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 300px;
    background-color: white;
    padding-bottom: 30px;
    width: 540px;
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    font-size: 35px;
    color: #3c009d;
    font-weight: 700;
}   

.underline{
    width: 70px;
    background-color: #3c009d;
    height: 6px;
    border-radius: 10px;
}

.inputs{
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    gap: 20px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 420px;
    height: 60px;
    border-radius: 6px;
    background-color: #eaeaea;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
}

.forgot{
    padding-left: 60px;
    color: #797979;
    font-size: 17px;
}

.forgot span{
    color: #2A00B7;
    cursor: pointer;
    font-weight: 500;
}

.forgot span:hover{
    color: crimson;
}

.submit-container {
    display: flex;
    gap: 20px;
    margin: 10px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 59px;
    color: #fff;
    background-color: #4c00b4;
    border-radius: 20px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
}

.gray{
    background-color: #eaeaea;
    color: #676767;
}



.submit-container1 {
    display: flex;
    gap: 20px;
    margin: 20px auto;
    margin-top: 25px;
}
